.title {
  letter-spacing: -0.025em;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(113, 113, 122);
  margin-top: 6px;
}

.icon {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  width: 32px;
  height: 32px;

  border: 1px solid #e4e4e7;
  border-radius: 6px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 16px;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
