.track {
  width: 200px;
  background-color: #f4f4f5;
  height: 8px;
  border-radius: 8px;
  position: relative;
}

.progress {
  background-color: #000;
  height: 8px;
  border-radius: 8px;
}

.knob {
  background-color: #fff;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
}
